.form-section {
    height: 80vh;
    padding-top: 75px;
}

.form-container {
    width: 30%;
    margin: auto;
}

.form-container h1,
p {
    text-align: center;
}

.input-div input,
textarea {
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 5px;
}

.input-div textarea {
    resize: none;
    padding: 5px 10px;
}

.project-img {
    height: 150x;
    width: 200px;
    object-fit: cover;
}