@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Reveal styles */

@layer utilities {
    @keyframes blink {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

    .animate-blink {
        animation: blink 0.8s step-end infinite;
    }


    @keyframes loading {
        0% {
            transform: translateX((-100%));
        }

        100% {
            transform: translateX(250%);
        }

    }

    .animate-loading-bar {
        animation: loading 0.8s ease infinite;
    }
}

.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Header + Navbar */

body {
    background-color: #F9F9F9;
}


/* Home Page */

.home-page-img {
    border-radius: 50px;
}

/* Form */

.submit-btn-container {
    display: flex;
    justify-content: center;
}

.form-section {
    padding-top: 75px;
    width: 90vw;
    margin: auto;
}

form {
    width: 30%;
    margin: auto;
}

.form-container {
    width: 30%;
    margin: auto;
}

.form-section h1,
p {
    text-align: center;
    margin: 5px 0;
}

.input-div input,
textarea {
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 5px;
}

.input-div textarea {
    resize: none;
    padding: 5px 10px;
}

.project-img {
    width: 200px;
    object-fit: cover;
}



.home-btn-container {
    display: flex;
    justify-content: center;
}

.nav-link:hover {
    border-bottom: 2px solid #4682B4;
    transition: 0.3s ease-in;
}

.project-links {
    border-bottom: 2px solid #4682B4;
    width: 50%;
    margin: auto;
}




/* Media Queries */
@media only screen and (max-width: 1200px) {

    nav p,
    .nav-links a {
        font-size: 0.9rem;
    }

    .hero-section h1 {
        font-size: 2rem;
    }

    .form-section h1 {
        font-size: 2rem;
    }

    .form-section p {
        font-size: 0.9rem;
    }

    .projects-section h2 {
        font-size: 1.8rem;
    }

    .projects-section p {
        font-size: 0.9rem;
    }

    .resume-section h2 {
        font-size: 1.8rem;
    }

    .resume-section p,
    ul {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 768px) {

    nav p,
    .nav-links a {
        font-size: 0.8rem;
    }

    .hero-section h1 {
        font-size: 1.8rem;
    }

    .form-section h1 {
        font-size: 1.8rem;
    }

    .form-section p {
        font-size: 0.8rem;
    }

    .projects-section h2 {
        font-size: 1.7rem;
    }

    .projects-section p {
        font-size: 0.8rem;
    }

    .resume-section h2 {
        font-size: 1.7rem;
    }

    .resume-section p,
    ul {
        font-size: 0.8rem;
    }


}

@media only screen and (max-width: 600px) {

    nav p,
    .nav-links a {
        font-size: 0.7rem;
    }

    .hero-section h1 {
        font-size: 1.5rem;
    }

    .form-section h1 {
        font-size: 1.5rem;
    }

    .form-section p {
        font-size: 0.7rem;
    }

    .projects-section h2 {
        font-size: 1.6rem;
    }

    .projects-section p {
        font-size: 0.7rem;
    }

    .resume-section h2 {
        font-size: 1.6rem;
    }

    .resume-section p,
    ul {
        font-size: 0.7rem;
    }
}