@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-section {
    height: 80vh;
    padding-top: 75px;
}

.form-container {
    width: 30%;
    margin: auto;
}

.form-container h1,
p {
    text-align: center;
}

.input-div input,
textarea {
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 5px;
}

.input-div textarea {
    resize: none;
    padding: 5px 10px;
}

.project-img {
    height: 150x;
    width: 200px;
    object-fit: cover;
}



.home-btn-container {
    display: flex;
    justify-content: center;
}

.nav-link:hover {
    border-bottom: 2px solid #4682B4;
    transition: 0.3s ease-in;
}

.project-links {
    border-bottom: 2px solid #4682B4;
    width: 50%;
    margin: auto;
}

.home-page-img {
    border-radius: 50px;
}